@charset "UTF-8";

body {
    background-color: #F1CF9A;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #695A43;
}

h2 {
   color: #AD946F; 
}

#principal {
    text-align: center;
    color: white;
}

main {
    background-color:#695A43;
    border-radius: 10px;
    color: aqua;
    width: 400px;
    margin: auto;
}